.container {
  display: flex;
}

.site-wrap {
  z-index: -5;
  width: 105%;
}

html {
	background-color: white;
	z-index: -2;
	overflow: none;
}


.lbox, .sbox {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.lbox {
	width: 66.66%;
	height: 275px;
	margin: auto;
/*	background-color: blue;
	border-style: solid;
	border-color: black;
	border-width: 1px;*/
	text-align: center;
}

.sbox {
	width: 33.33%;
	height: 275px;
	margin: auto;
	/*background-color: orange;
	border-style: solid;
	border-color: white;
	border-width: 1px;*/
	text-align: center;
}

.lbox:hover, .sbox:hover {
	-webkit-filter: none;
	filter: none;
	cursor: pointer;
}

.widebox {
	width: 100%;
	height: 550px;
	/*margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: red;*/
	background-image: url("../Images/bayarea_3.jpg");
	background-size: no-repeat;
	opacity: 0.9;
	z-index: 1;
	margin: auto;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	text-align: center;
}

.bar {
	height: 100px;
/*	justify-content: flex-end;*/
	width: 100%;
/*	margin-right: 5px;
	margin-top: 5px;*/
	position: fixed;
	z-index: 999;
	background: #232743;
}

.overlay {
	position: fixed;
    overflow: hidden;
    top: 0;
    color: white;
    text-align: left;
    text-shadow: 2px 2px black;
    display: block;
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    transition: background 500ms ease;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 5;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.overlay ul li a {
    display: block;
    text-decoration: none!important;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    color: #fff;
    opacity: 0;
    border: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}
.show-nav .overlay ul li a {
    opacity: 1;
}

.show-nav {
    background: #2b343f;
    text-align: center;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
}

.hide-nav {
	background: transparent;
    height: 100%;
    width: 100%;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.toggle-nav, .ion-navicon-round {
	color: white;
	font-size: 140%;
	justify-content: flex-end;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}



.lowermenu_l {
  width: 66.66%;
	height: 450px;
	/*margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px; */
	margin: auto;
	background-color: #232743;
	border-style: solid;
	border-color: white;
	border-width: 1px;
  z-index: 1;
}

.lowermenu_r {
  width: 33.33%;
	height: 450px;
	/*margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px; */
	margin: auto;
	background-color: #232743;
	border-style: solid;
	border-color: white;
	border-width: 1px;
  z-index: 1;
}



.lm_email {
  max-height: 135px;
  color: white;
  font-style: large;
  font-size: 32px;
  font-style: italic;
  z-index: 5;
  width: 100%;
  border: solid white 1px;

}


.lm_phone {
  max-height: 135px;
  width: 100%;
  border: solid white 1px;
}

.lm_address {
  max-height: 180px;
  width: 100%;
  border: solid white 1px;
}

.get_started {
  width: 100%;
  height: 320px;
  margin: auto;
	background-color: #232743;
	border-style: solid;
	border-color: white;
	border-width: 1px;
  z-index: 1;
}

.footer {
  width: 100%;
	height: 150px;
	/*margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px; */
	margin: auto;
	background-color: #232743;
	border-style: solid;
	border-color: white;
	border-width: 1px;
  z-index: 1;
}

.icon_links {
  margin-top: 30px;
  margin-left: 50px;
  max-width: 40%;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: #232743;
  font-style: large;
  font-size: 32px;
  font-style: italic;
  z-index: 5;
}

.gs_clickable {
  width: 250px;
  height: 75px;
  position: relative;
  left: 50px;
  border: 3px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  background: none;
  margin: auto;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}

.gs_clickable:hover {
  background: white;
  color: #232743;
}

.buttons {
  position: relative;
  margin: 10px;
  align-items: flex-start;
  width: 75%;
}

.top_fields {
  position: relative;
  width: 80%;
  max-height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 30px;
}

input {
  width: 200px;
  max-width: 300px;
}

.tba {
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding-left: 80px;
  padding-top: 10px;
}

.mid_fields {
  position: relative;
  max-width: 80%;
  max-height: 50%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top_fields > form {
  margin: auto;
  padding-top: 20px;
  font-size: 12px;
  flex-grow: auto;
  color: white;
  font-weight: bold;
}

input, textarea {
  background-color: #2A2F49;
  opacity: 50%;
}

.lower_fields {
  position: relative;
  height: 30%;
}

.inboxtext {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  size: 10px;
  width: 80%;
  text-align: left;
  position: relative;
  left: 50px;
  word-wrap: normal;
  line-height: 1.5;
  text-shadow: 2px 2px black;
}

.inboxtext > h1 {
	color: white;
	font-style: bold;
  border-bottom: solid white 1px;
  border-width: 1px;
  padding-bottom: 20px;
  size: 14px;
  max-width: 400px;
  text-shadow: 2px 2px black;
}

.filler {
  width: 50%;
  position:relative;
  bottom: 70px;
  left: 50px;
  margin: auto;
  word-wrap: normal;
  max-height: 100px;
}

.filler > h1 {
  font-size: 16px;
  text-align: left;
  color: white;
  font-size: large;
  font-weight: bold;
  font-style: normal;
  width: 100%;
}

.filler > p {
  font-size: 12px;
  color: white;
  font-style: italic;
  font-weight: normal;
  word-wrap: normal;
}

.icon_links > i {
  background-color: white;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 48px;
  height: 48px;
  z-index: 3;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
  /*padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;*/
  background-position: center;
}

.ending_caption {
  margin-top: 10px;
  margin-left: 50px;
  font-size: small;
  position: relative;
	color: white;

}

.lbox, .sbox {
	background-repeat: no-repeat;
    background-size:cover;
	opacity: 0.9;
	z-index: 1;
	background-position: center;
}



.pic1 {
	background-image: url("../Images/baybridge.jpg");
	background-position: right-center;
}

.pic2 {
	background-image: url("../Images/berkeley.jpg");
}

.pic3 {
	background-image: url("../Images/portcranes.jpg");
}

.pic4 {
	background-image: url("../Images/bow-and-arrow.jpg");
}

.pic5 {
	background-image: url("../Images/sutrobaths.jpg");
}

.pic6 {
	background-image: url("../Images/ferrybuilding.jpg");
}

.duo {
	width: 100%;

}

.nav-title {
	float: left;
	color: white;
	margin-left: 10px;
}

.titleText {
	text-align: left;
	color: white;
	font-style: boldest;
	font-size: xx-large;
	position: relative;
	top: 150px;
	left: 50px;
  text-shadow: 2px 2px black;
}

.lineBreak {
	position: relative;
	top: 150px;
	left: 50px;
	color: white;
	width: 80%;
	height: .5px;
	border-width: .5px;
	border-color: white;
	border-style: solid;
	background-color: white;
}
